@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth !important;
}

body {
  min-width: 698px; /* 데스크탑 화면에서는 최소 너비를 730픽셀로 설정 */
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer components {
  .headerMobile {
    @apply flex flex-col items-center justify-center gap-2 absolute bottom-0 right-0 translate-y-full w-full overflow-hidden bg-lightGray transition-h duration-500;
  }
  .headerDesktop {
    @apply flex flex-row items-center gap-0 relative translate-y-0 h-full w-fit overflow-auto py-0 bg-transparent;
  }
  .headerItemMobile {
    @apply hover:text-white;
  }
  .headerItemDesktop {
    @apply [&+li]:ml-[1rem] w-fit;
  }

  .searchBoxMobile {
    @apply w-[12em] py-[1rem] px-[1rem] text-xl;
  }
  .searchBoxTablet {
    @apply w-[12em] py-[1.5rem] px-[1rem] text-4xl;
  }
  .searchBoxDesktop {
    @apply w-[12em] py-[1.5rem] px-[1rem] text-5xl;
  }
}
