@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html {
  scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@layer components {
  .headerMobile {
    @apply flex flex-col items-center justify-center gap-2 absolute bottom-0 right-0 translate-y-full w-full overflow-hidden bg-lightGray transition-h duration-500;
  }
  .headerDesktop {
    @apply flex flex-row items-center gap-0 relative translate-y-0 h-full w-fit overflow-auto py-0 bg-transparent;
  }
  .headerItemMobile {
    @apply hover:text-white;
  }
  .headerItemDesktop {
    @apply [&+li]:ml-[1rem] w-fit;
  }
}
